<section class="container mx-auto">
  <p class="font py-10 mt-20  text-green-900 text-3xl text-center font-semibold">Gallery</p>
  <div class="grid justify-center md:grid-cols-3 lg:px-32 gap-4">
    <div class="grid gap-4">
      <div class="container">
        <img src="assets/img/brige.png" alt="" class="rounded">
      </div>
      <img src="assets/img/hiking.png" alt="" class="rounded">
    </div>
    <div class="grid gap-4">
      <img src="assets/img/build.png" alt="" class="rounded">
      <img src="assets/img/sea.png" alt="" class="rounded">
    </div>
    <div class="">
      <img src="assets/img/ballon.png" alt="" class="rounded">
    </div>
  </div>
</section>
