<div class="flex m-3 content-center">
  <form [formGroup]="form">
    <mat-form-field class="mx-1" appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName"  matInput>
    </mat-form-field>

    <mat-form-field  class="mx-1" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput>
    </mat-form-field>

    <mat-form-field  class="mx-1" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email"  matInput>
    </mat-form-field>
  </form>
  <div class="flex mx-1" style="align-items: center">

    <button (click)="onSearch()"
            style="margin: 0 5px"
            class="mx-1" color="primary" mat-stroked-button>
      <i class="fa fa-search"></i>
    </button>

    <button (click)="onReset()"
            style="margin: 0 5px" class="mx-1" mat-stroked-button>
      <i class="fa fa-close"></i>
    </button>
  </div>
</div>

