<form [formGroup]="form" class="container mx-auto pt-10">
  <div class="px-10 space-y-4 grid md:grid-cols-1 lg:grid-cols-3 ">

    <div>
      <input formControlName="title" type="text"
             class="border px-2 py-2 w-44 bg-transparent rounded focus:outline-none focus:ring focus:ring-white md:w-96"
             placeholder="Search your travel...">
    </div>

    <div class="flex lg:justify-end lg:col-span-2">
      <div class="flex gap-2 grid-cols-3 ">
        <div class="sort-item product-per-page">
          <input formControlName="type" type="text"
                 class="border px-2 py-2 w-44 bg-transparent rounded focus:outline-none focus:ring focus:ring-white md:w-96"
                 placeholder="Travel type">
        </div>
        <div class="sort-item orderby">
          <label for="orderby" class="font font-medium text-sm md:text-base">Price:</label>
          <select formControlName="priceOrder" name="orderby" id="orderby"
                  class="text-sm border px-2 py-2 bg-transparent rounded focus:outline-none focus:ring focus:ring-white appearance-none text-gray-500 md:text-base">
            <option *ngFor="let order of orders" [value]="order.value">{{order.label}}</option>
          </select>
        </div>
      </div>
    </div>
    <button (click)="onSearch()" class="px-2"><i class="fa fa-search text-gray-600" aria-hidden="true"></i></button>
    <button (click)="onReset()" class="px-2"><i class="fa fa-close text-gray-600" aria-hidden="true"></i></button>
  </div>
</form>

