<section>
  <div class="hero bg-gray-600">
    <div class="flex justify-center py-10 lg:py-64">
      <input
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onSearch.emit($event)"
        [(ngModel)]="searchInput" type="text"
             class="border-2 px-2 py-2 bg-transparent rounded focus:outline-none focus:ring focus:ring-white text-white"
             placeholder="Search your travel...">
      <button class="px-2"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
    </div>
  </div>
</section>
