<section class="container mx-auto py-20">
  <p class="font py-10 text-green-900 text-center font-semibold text-xl lg:text-3xl">About Us</p>
  <div class="text-center text-sm px-10 lg:px-36 lg:text-base">
    <p>We work across time zones, hemispheres, cultures and languages. We’re used to breaking things down and
      building them back up again, until they’re even better. We know travel can be hard,
      but we also know that it’s worth it.</p>

    <p class="pt-3">
      No matter who you are, or where you are going, our travel brands help every type of traveler not only
      find the trip that’s right for them, but get the best value every time.
    </p>
  </div>
</section>
