<section class="bg-fixed update w-full pb-10" style="background-image: url(https://images.pexels.com/photos/1178784/pexels-photo-1178784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <p class="font pt-10 mb-10 text-3xl text-green-900 text-center font-semibold">What we offer</p>
  <div class="mb-10 grid grid-cols-2 gap-0 md:grid-cols-4 px-10 md:px-18 lg:px-36 2xl:px-96">
    <!--Card 1-->
    <div class="max-w-sm bg-white py-4">
      <div class="flex justify-center">
        <img src="assets/img/Trekking.png" alt="" class="w-14 h-14">
      </div>
      <div class="px-6 py-4 text-center">
        <div class="font font-bold text-lg mb-2">Hiking</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>

    </div>
    <!--Card 2-->
    <div class="max-w-sm bg-white py-4">
      <div class="flex justify-center">
        <img src="assets/img/Dancing.png" alt="" class="w-14 h-14">
      </div>
      <div class="px-6 py-4 text-center">
        <div class="font font-bold text-lg mb-2">Fun</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <!--Card 3-->
    <div class="max-w-sm bg-white py-4">
      <div class="flex justify-center">
        <img src="assets/img/Friends.png" alt="" class="w-14 h-14">
      </div>
      <div class="px-6 py-4 text-center">
        <div class="font font-bold text-lg mb-2">New Friends</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <!--Card 4-->
    <div class="max-w-sm bg-white py-4">
      <div class="flex justify-center">
        <img src="assets/img/Landscape.png" alt="" class="w-14 h-14">
      </div>
      <div class="px-6 py-4 text-center">
        <div class="font font-bold text-lg mb-2">Nature</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</section>
