<footer>
  <div class="mt-20 py-10 bg-black">
    <div class="grid">
      <div class="flex justify-center">
        <p class="font text-white text-xl font-bold">TRAVELERS</p>
      </div>
      <hr class="container mx-auto w-44 mt-2">
      <p class="px-8 pt-4 text-sm text-center text-white font-thin md:px-80 lg:px-96">
        We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the
        adventures we can have.</p>
    </div>
  </div>
  <div class="py-3 bg-black px-10 md:px-44 lg:px-52 order-none">
    <div class="justify-center">
      <div class="flex justify-center pb-5 space-x-4">
        <a href=""><i class="fa fa-facebook text-white flex"></i></a>
        <a href=""><i class="fa fa-instagram text-white flex"></i></a>
        <a href=""><i class="fa fa-twitter text-white flex"></i></a>
      </div>
      <p class="text-white text-center text-xs"> ©Traveler -
        All Rights Reserved</p>
    </div>
  </div>
</footer>
